.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid var(--border-color-black);
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: var(--border-color-white);
  }
}
